<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head content -->
</head>
<body>
    <div class="container">
        <h1>All Users</h1>
        <ul>
            <% users.forEach(user => { %>
                <li>
                    <a href="/users/<%= user.id %>">
                        <%= user.name %> | <%= user.email %> | <%= user.password %>
                    </a>
                </li>
            <% }); %>
        </ul>
        <a href="/posts/users/<%= users[0].id %>/posts/create" class="btn btn-primary">Create Post</a>
        <a href="/posts/users/<%= users[0].id %>/posts" class="btn btn-primary"> Display Post</a>
        <ul>
    </div>
</body>
</html>
