<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head content -->
</head>
<body>
    <div class="container">
        <% if (user) { %>
            <h1>User Details</h1>
            <p><strong>Name:</strong> <%= user.name %></p>
            <p><strong>Number:</strong> <%= user.mobile %></p>
            <p><strong>Address:</strong> <%= user.address %></p>
            <p><strong>Email:</strong> <%= user.email %></p>
            <p><strong>Password:</strong> <%= user.password %></p>
            <div>
                <a href="/users/<%= user.id %>/edit">Edit</a>
                <form action="/users/<%= user.id %>/delete" method="post">
                    <button type="submit">Delete</button>
                </form>
                <ul>
                <a href="/posts/users/<%= loggedInUserId %>/posts/create" class="btn btn-primary">Create Post</a>
                </ul>
                <ul>
                <a href="/posts/users/<%= loggedInUserId %>/posts" class="btn btn-primary"> Display Post</a>
                </ul>
                <ul>
                    <a href="/users" class="btn btn-primary"> Display All Users</a>
                </ul>
            </div>
        <% } else { %>
            <p>User not found.</p>
        <% } %>
    </div>
</body>
</html>